*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
.page3{
    color: #fff;
    background: #444;
    padding: 20px 0;
}
h2{
    font-size: 25px;
    font-weight: 400;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 15px;
    padding-bottom: 20px; 
}
p{
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 10px;
    padding-bottom: 20px;
}
button{
    background: #444444;
    color: #fff;
    height: 40px;
    width: 120px;
    border: 1px solid;
    border-radius: 10px;
}
button:hover{
    background: #fff;
    color: #ff004f;
    transition: 0.5s;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: end;
    flex-wrap: wrap;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    position: relative;
}
nav{
    background: #444;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}